<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Exam System Login</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="login-container">

<h1>Online Exam Login</h1>

<p>Please login to start your exam.</p>


<form method="POST" action="/login">

<label>Username</label>

<input 
type="text" 
name="username" 
placeholder="Enter your username" 
required
>


<label>Password</label>

<input 
type="password" 
name="password" 
placeholder="Enter your password" 
required
>


<button type="submit">Login</button>

</form>


</div>

</body>

</html>